<div class="content-block">
    <dx-data-grid
            id="gridContainer"
            [dataSource]="dataSource"
            [showBorders]="true">
        <dxo-editing
                mode="row"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true">
        </dxo-editing>
        <!-- COLUMNS -->
        <dxi-column dataField="id" caption="Id" [visible]="false">
        </dxi-column>
        <!-- Nome -->
        <dxi-column dataField="name" caption="Nome">
        </dxi-column>
        <!-- data de Transmissao -->
        <dxi-column dataField="username" caption="UserName">
        </dxi-column>
        <!-- Sede -->
      <dxi-column  [customizeText]="customizeText"  dataType="password" dataField="password" caption="Senha" editorOptions="password" >
        </dxi-column>
    </dx-data-grid>
</div>
